[submodule "bundles/telnet-networking"]
	path = bundles/telnet-networking
	url = https://github.com/ranviermud/telnet-networking
[submodule "bundles/websocket-networking"]
	path = bundles/websocket-networking
	url = https://github.com/slinkous/websocket-networking
[submodule "bundles/ranvier-progressive-respawn"]
	path = bundles/ranvier-progressive-respawn
	url = https://github.com/slinkous/ranvier-progressive-respawn
[submodule "bundles/ranvier-npc-behaviors"]
	path = bundles/ranvier-npc-behaviors
	url = https://github.com/slinkous/ranvier-npc-behaviors
